p{
            text-align: center;
            color: red;
        }
        h1{
            color:cyan;
        } */
/* 
        #para{
            background-color: blueviolet;
        }

        .n{
            background-color: aqua;
            text-align: center;
        }