<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>    Edit Profile    </h1>
    <form action="/update/{{ data.id }}/" method="post">
        {% csrf_token %}
        First name : <input type="text" name="first_name" value="{{ data.first_name }}"><br>
        Last name : <input type="text" name="last_name" value="{{ data.last_name }}"><br>
        Age : <input type="text" name="age" value="{{ data.age }}"><br>
        Phone : <input type="text" name="phone" value="{{ data.phone }}"><br>
        Email : <input type="text" name="email" value="{{ data.email }}"><br>
        <input type="submit" value="Update">

    </form>
</body>
</html>